html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    z-index: 1;
}

body {
    background: #212529;
    height: 2000px;
}

img {
    max-width: 100%;
    height: auto;
}

ol,
ul {
    list-style: none;
}

body {
    font-family: 'Oswald';
    color: #26313c;
    line-height: 1.5;
}

.header {
    position: relative;
    transition: all 0.7s;
    z-index: 9px;
}

.header .wrap {
    width: 1140px;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.header.sticky {
    width: 100%;
    position: fixed;
    background-color: #212529;
    border-style: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

.header .logo {
    margin: 0;
    padding: 16px 0;
}

.header .logo a,
.header .logo a img {
    display: block;
}

.header .logo img {
    width: 200px;
    height: 40px;
}

.header .menu ul {
    display: flex;
}

.header .menu li {
    padding: 14px;
}

.header .menu a {
    font-size: 1.2rem;
    color: white;
    padding: 8px;
    display: block;
    text-transform: uppercase;
}

.header .menu a:hover {
    color: #24cdd5;
}

.header .sidemenu-toggler {
    position: absolute;
    padding: 6px;
    width: 40px;
    top: 23px;
    right: 40px;
}

.header .sidemenu-toggler>span {
    display: block;
    background-color: white;
    height: 2px;
}

.header .sidemenu-toggler>span:nth-child(2) {
    margin: 4px 0 4px auto;
    width: 75%;
    transition: 0.3s all;
}

.header .sidemenu-toggler>span:nth-child(3) {
    margin-left: auto;
    width: 50%;
    transition: 0.6s all;
}

.header .sidemenu-toggler:hover>span:nth-child(2),
.header .sidemenu-toggler:hover>span:nth-child(3) {
    width: 100%;
}

.header .sidemenu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    width: 20%;
    height: 100vh;
    z-index: 999;
    padding: 4rem;
    color: white;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.header .sidemenu.active {
    transform: translate3d(0, 0, 0);
}

.header .sidemenu .close {
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top: 24px;
}

.header .sidemenu .close::before,
.header .sidemenu .close::after {
    content: "";
    position: absolute;
    top: 0;
    left: 13px;
    height: 28px;
    width: 2px;
    background: white;
}

.header .sidemenu .close::before {
    transform: rotate(45deg);
}

.header .sidemenu .close::after {
    transform: rotate(-45deg);
}

.header .sidemenu nav li {
    padding: 15px 0px;
}

.header .sidemenu nav ul {
    padding-top: 30px;
}

.header .sidemenu nav a {
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
}

.header .sidemenu footer {
    padding-top: 100px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.header .sidemenu footer .social {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.header .sidemenu footer .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s linear;
    margin-right: 5px;
    text-transform: uppercase;
    color: white;
}

@media (max-width: 767px) {
    .header .sidemenu {
        width: 100%;
    }
    .header .sidemenu nav a {
        font-size: 1rem;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .header .sidemenu {
        width: 70%;
    }
    .header .sidemenu nav a {
        font-size: 1.2rem;
    }
}

@media (max-width: 1199px) {
    .header .menu {
        display: none;
    }
}

.home {
    margin-top: 100px;
}

.hero-text {
    font-family: 'Poppins', 'sans-serif';
}

.title {
    background-color: #24cdD5;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.name {
    font-size: 80px;
    letter-spacing: -1px;
}

.designation {
    font-size: 30px;
}

.email {
    margin-top: 40px !important;
    font-family: 'Poppins';
}

.social-icons li {
    list-style: none;
    margin-right: 30px;
    margin-top: 40px;
    font-size: 25px;
    cursor: pointer;
}

.hero-img {
    margin-left: 140px;
    margin-top: -40px;
}

.hero-img img {
    margin: 0 auto;
    float: none;
    text-align: center;
    /* border: 0px solid rgba(0, 0, 0, 0.17); */
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    border-radius: 40%;

}

.img-border {
    height: 400px;
    width: 400px;
    /* border: 2px solid rgba(0, 0, 0, 0.07); */
    margin: 0 auto;
    /* border-radius: 10%; */
    border-radius: 00px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: #212529;
    border-left: 0 solid #fff;
    border-right: 0 solid #fff;
}

::-webkit-scrollbar-thumb {
    background: rgba(196, 255, 4, 0.856);
    width: 0px;
    height: 35%;
    transition: 0.5s ease;
    cursor: pointer;
}

.about {
    font-family: 'Poppins', sans-serif;
}

.gap {
    margin-left: 90px;
}

.tag ul li {
    margin: 0px 6px;
    border-radius: 4px;
    border-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;
}

.tag ul li span {
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px;
}

.tag ul li span:hover {
    background-color: transparent !important;
}

.btn {
    border-radius: 0px;
    border-radius: 20px;
    transition: 0.3 ease-in-out;
    box-shadow: 0px 0px 20px 1px #000;
    transition: all 0.3 ease;
}

.btn:hover {
    color: white;
    font-weight: bold;
    background-color: #24cdD5;
    /*border: none;*/
    box-shadow: 0px 0px 15px 1px #24cdD5;
}

.mh-service .mh-service-item {
    padding: 20px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

.mh-service-item .mh-service .fab {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px;
}

.mh-service .mh-service-item .fa.purple-color {
    columns: #9774fa;
}

.mh-service .mh-service-item .fa.iron-color {
    columns: #ed7256;
}

.mh-service .mh-service-item .fa.sky-color {
    columns: #2796e2;
}

.mh-service h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 18px;
    font-size: 25px;
    line-height: 34px;
}

.menu{
    z-index: 5;
}

.mh-skills{
    background-color: #000000;
    color: #fff;
}